<%= form_for([@company, @car, @carpart]) do |f| %>
  <% if @carpart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carpart.errors.count, "error") %> prohibited this carpart from being saved:</h2>

      <ul>
      <% @carpart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <%= select_tag "details_number", options_for_select((1..10).step(1)) %>
  <%= link_to "Add detail", add_detail_path, remote:true %><br>

  <div id="details" class="field">
  </div>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :stock %><br>
    <%= f.number_field :stock %>
  </div>


  <div class="putinline">
      <%= f.fields_for :photos, @photo do |ff| %>
        <% if (ff.object.carpart_id).present? %>
        <h3 class="form-group col-md-12">Edit photo</h2>
          <%= image_tag url_for(:controller => "photos", :action => "show_carpart",
                                :carpart_id=>ff.object.carpart_id),
                                 class: "col-md-2 img-thumbnail"%>
          <div class="form-group col-md-6">
            <p><%= ff.object.filename %></p>
            <%= ff.file_field :file %><br>
          </div>
          <div class="form-group col-md-6">
              <%= ff.label :description %>
              <%= ff.text_field :description, :value => ff.object.description %>
          </div>

        <% else %>

        <h3 class="form-group col-md-12">Add photo</h2>
            <div class="form-group">
              <%= ff.file_field :file, class: "btn btn-danger" %><br>
            </div>
            <div class="form-group">
              <%= ff.label "Description" %>
              <%= ff.text_field :description %>
            </div>
        <% end %>
      <% end %>
    </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>
