<%= link_to company, remote: true  do%>
<div class="row well">
<div class="col-md-2">
     <%= image_tag url_for(:controller => "logos", :action => "show_company", :company_id=>@company.id,
     :id=>@company.logos[0][:id]), class: "img-thumbnail"%>
</div>
<div class="col-md-10">
            <h4><span><%= @company.name %></span></h4>
            <h5>Contact person: <span><%= @company.contactname %></span></h5>
            <h5>Address: <span><%= @company.street %>, <%= @company.city %>, <%= @company.postcode %>, <%= @company.country %></span></h5>
            <h5>Contacts: <span><%= @company.phone %>, <%= mail_to @company.email %></span></h5>
            <h5>Homepage: <span><%= link_to @company.homepage, @company.homepage, target: "_blank"%></span></h5>
</div>
<div class="col-md-12">
    <%= simple_format(@company.description)%>
</div>
</div>
<% end%>
