<%= link_to company, remote: true, class: "companylink"  do%>
<div class="row well-br">

<%= content_tag :table, class: "table col-md-12" do%>

  <%= content_tag :tr do%>
  <%= content_tag :th, "Name:" %>
  <%= content_tag :td, @company.name %>
  <% end%>

  <%= content_tag :tr do%>
  <%= content_tag :th, "Contact person:" %>
  <%= content_tag :td, @company.contactname %>
  <%= content_tag :th, "Address:" %>
  <%= content_tag :td, @company.street+", "+@company.city+", "+@company.postcode+", "+@company.country %>
  <% end%>

  <%= content_tag :tr do%>
  <%= content_tag :th, "email:" %>
  <%= content_tag :td, @company.email %>
  <%= content_tag :th, "Hompage:"%>
    <%= content_tag :td  do %>
      <%= link_to @company.homepage, "http://"+@company.homepage, target: "_blank" %>
    <% end%>
  <% end%>
<% end%>
<hr>
<div class="col-md-12">
    <%= simple_format(@company.description)%>
</div>
</div>
<% end%>
<% if user_signed_in? %>
 <% if (current_user.try(:vip?) && current_user.id == company.user_id) or current_user.try(:admin?) %>
   <%= link_to 'Edit', edit_company_path(company), class: "btn btn-warning" %>
   <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<% end %>
<% end %>
