<%= render 'layouts/search' %>

<h1>Companies</h1>
<div class='row'>

    <% @companies.each do |company| %>
    <%= content_tag :div, :id => "cmp_#{company.id}", class: "cmp col-md-2 col-sm-4 text-center" do %>
        <%= link_to company, remote: true  do%>
             <%= image_tag url_for(:controller => "logos", :action => "show_company", :company_id=>company.id,
              :id=>company.logos[0][:id]), class: "img-fit img-thumbnail"%>
             <%= content_tag :h4, company.name%>
        <% end %>
          <% if user_signed_in? %>
           <% if current_user.try(:vip?) %>
           <div class="col-md-6 putinline">
             <%= link_to 'Edit', edit_company_path(company), class: "btn btn-warning" %>
             <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
             <%= link_to 'New Company', new_company_path, class: "btn btn-success" %>
           </div>
       <% end %>
     <% end %>
   <% end %>
   <% end %>
  </div>
