<section class="text-center">
<div class="col-md-3 col-sm-3 well-br">
<h2 class="shadow">Search area</h2>
<hr>
<%= form_for :search_final, url: search_final_path do |form| %>
<%= content_tag :div, class: "row" do %>
   <label class="col-md-6 col-sm-6 col-xs-6">Select year</label>
   <%= select_tag 'makeyear', options_for_select(@makeyears, 'makeyear'),
   include_blank: true, disabled: false, class: "col-md-6 col-sm-6 col-xs-6" %>
   <% end %>
   <br>

   <%= content_tag :div, id: "makeit", class: "row" do %>
   <label class="col-md-6 col-sm-6 col-xs-6">Select make</label>
   <%= select_tag 'make', options_from_collection_for_select(@cars, 'make', 'make'),
   include_blank: true, disabled: true, class: "col-md-6 col-sm-6 col-xs-6" %>
   <% end %>
   <br>
   <%= content_tag :div, id: "modelit", class: "row" do %>
   <label class="col-md-6 col-sm-6 col-xs-6">Select model</label>
   <%= select_tag 'model', options_from_collection_for_select(@cars, 'model', 'model'),
   include_blank: true, disabled: true, class: "col-md-6 col-sm-6 col-xs-6" %>
   <% end %>
   <br>
   <%= content_tag :div, id: "partit", class: "row" do %>
   <label class="col-md-6 col-sm-6 col-xs-6">Select part</label>
   <%= select_tag 'part', options_from_collection_for_select(@carparts, 'id', 'name'),
   include_blank: true, disabled: true, class: "col-md-6 col-sm-6 col-xs-6" %>
   <% end %>
   <br>
    <%= form.submit "Search", class: "btn btn-primary", id: "search_p"  %>
 <% end %>
</div>

<div class="col-md-8 col-sm-11">
<h2 class="shadow">Logo area</h2>
<hr>
  <%= image_tag("mers.jpg", class: "img-hit")  %>
</div>

</section>

<hr class="panel">

<div class="col-md-10 col-md-offset-1">
<div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">
  <div class="carousel-inner">

    <% @carparts.each_with_index do |carpart, index| %>
    <div class="item <%= 'active' if index == 0%>">
       <%= content_tag :div, id: "cpt_#{carpart.id}", class: "col-xs-12 col-sm-6 col-md-2 text-center well-br" do %>
            <%= link_to company_car_carpart_path(carpart.company_id, carpart.car_id, carpart.id)  do%>
                  <%= image_tag url_for(:controller => "photos", :action => "show_carpart", :carpart_id=>carpart.id,
                   :id=>carpart.photos[0][:id]), class: "img-fit"%>
                  <%= content_tag :h4, carpart.name%>
                  <%= content_tag :h4, @companies.where(:id => carpart.company_id)[0].name%>
            <% end %>
                  <% if user_signed_in? %>
                   <% if (current_user.try(:vip?) && current_user.id == @companies.where(:id => carpart.company_id)[0].user_id) or current_user.try(:admin?) %>
                     <%= link_to 'Edit', edit_company_car_carpart_path(carpart.company_id, carpart.car_id, carpart.id), class: "btn btn-warning" %>
                     <%= link_to 'Destroy', company_car_carpart_path(carpart.company_id, carpart.car_id, carpart.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                   <% end %>
                  <% end %>
                <% end %>
    </div>
    <% end %>

  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
</div>

<hr class="panel">
<section>
 <div class="text-center shadow"><h2>Car parts</h2>

   <% @carparts.each do |carpart| %>
   <%= content_tag :div, id: "cpt_#{carpart.id}", class: "col-md-2 col-sm-4 text-center" do %>
      <%= link_to company_car_carpart_path(carpart.company_id, carpart.car_id, carpart.id)  do%>
            <%= image_tag url_for(:controller => "photos", :action => "show_carpart", :carpart_id=>carpart.id,
             :id=>carpart.photos[0][:id]), class: "img-fit"%>
            <%= content_tag :h4, carpart.name%>
            <%= content_tag :h4, @companies.where(:id => carpart.company_id)[0].name%>
      <% end %>
            <% if user_signed_in? %>
             <% if (current_user.try(:vip?) && current_user.id == @companies.where(:id => carpart.company_id)[0].user_id) or current_user.try(:admin?) %>
               <%= link_to 'Edit', edit_company_car_carpart_path(carpart.company_id, carpart.car_id, carpart.id), class: "btn btn-warning" %>
               <%= link_to 'Destroy', company_car_carpart_path(carpart.company_id, carpart.car_id, carpart.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
             <% end %>
            <% end %>
          <% end %>
  <% end %>

 </div>
</section>

<hr class="panel">
<section>
  <div class="text-center shadow"><h2>Cars</h2>
  </div>
   <% @cars.each do |car| %>
   <%= content_tag :div, :id => "crs_#{car.id}", class: "col-md-2 col-sm-4 col-centered" do %>
   <%= link_to [@companies.where(:id => car.company_id)[0], car] do%>
            <%= image_tag url_for(:controller => "photos", :action => "show_car", :car_id=>car.id,
             :id=>car.photos[0][:id]), class: "img-fit"%>
            <%= content_tag :h4, car.make%>
            <%= content_tag :h4, @companies.where(:id => car.company_id)[0].name%>
            <% end %>
            <% if user_signed_in? %>
             <% if (current_user.try(:vip?) && current_user.id == @companies.where(:id => car.company_id)[0].user_id) or current_user.try(:admin?) %>
               <%= link_to 'Edit', edit_company_car_path(car.company_id, car.id), class: "btn btn-warning" %>
               <%= link_to 'Destroy', company_car_path(car.company_id, car.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
               <br>
               <%= link_to 'Add new car part', new_company_car_carpart_path(car.company_id, car.id), class: "btn btn-success putinline" %>
             <% end %>
            <% end %>
          <% end %>
  <% end %>
</section>

<hr class="panel">

<section class='row'>

  <div class="text-center shadow"><h2>Companies</h2>
  <% if user_signed_in? %>
   <% if current_user.try(:vip?) %>
   <span>
     <%= link_to 'Add new Company', new_company_path, class: "btn btn-success putinline" %>
   </span>
  <% end %>
  <% end %>
  </div>

<% @companies.each do |company| %>
    <%= content_tag :div, :id => "cmp_#{company.id}", class: "col-md-2 text-center well-br" do %>
        <%= link_to company, remote: true  do%>
             <%= image_tag url_for(:controller => "logos", :action => "show_company", :company_id=>company.id,
              :id=>company.logos[0][:id]), class: "img-fit img-thumbnail"%>
             <%= content_tag :h4, company.name%>
        <% end %>
          <% if user_signed_in? %>
           <% if (current_user.try(:vip?) && current_user.id == company.user_id) or current_user.try(:admin?) %>
             <%= link_to 'Edit', edit_company_path(company), class: "btn btn-warning" %>
             <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
             <%= link_to 'Add new car', new_company_car_path(company), class: "btn btn-success putinline" %>
       <% end %>
     <% end %>
   <% end %>
<% end %>

</section>
