<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>

<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Description</th>
      <th>Contactname</th>
      <th>Street</th>
      <th>City</th>
      <th>Postcode</th>
      <th>Country</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Homepage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= image_tag url_for(:controller => "logos", :action => "show_company", :company_id=>company.id,
          :id=>company.logos[0][:id]), class: "col-md-2"%></td>
        <td><%= company.name %></td>
        <td><%= company.description %></td>
        <td><%= company.contactname %></td>
        <td><%= company.street %></td>
        <td><%= company.city %></td>
        <td><%= company.postcode %></td>
        <td><%= company.country %></td>
        <td><%= company.phone %></td>
        <td><%= company.email %></td>
        <td><%= company.homepage %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
