<%= form_for ([@company, @car]), :html => { :multipart => true } do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>
      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>

  <div class="putinline">
      <%= f.fields_for :photos, @photo do |ff| %>
        <% if (ff.object.car_id).present? %>
        <h3 class="form-group col-md-12">Edit photo</h2>
          <%= image_tag url_for(:controller => "photos", :action => "show_car",
                                :car_id=>ff.object.car_id, :id=>ff.object.id),
                                 class: "col-md-2 img-thumbnail"%>
          <div class="form-group col-md-6">
            <p><%= ff.object.filename %></p>
            <%= ff.file_field :file %><br>
          </div>
          <div class="form-group col-md-6">
              <%= ff.label :description %>
              <%= ff.text_field :description, :value => ff.object.description %>
          </div>

        <% else %>

        <h3 class="form-group col-md-12">Add photo</h2>
            <div class="form-group">
              <%= ff.file_field :file, class: "btn btn-danger" %><br>
            </div>
            <div class="form-group">
              <%= ff.label "Description" %>
              <%= ff.text_field :description %>
            </div>
        <% end %>
      <% end %>
    </div>

  <div class="actions">
    <%= f.submit"Save", class: "btn btn-primary" %>
  </div>

<% end %>
