    <div class='row'>
      <%= content_tag :h4, "#{@car.make} #{@car.model}", class: "col-md-12"%>
      <%= image_tag url_for(:controller => "photos", :action => "show_car", :car_id=>@car.id), class: "col-md-4"%>

    <div class='col-md-8'>
      <%= content_tag :table, class: "table well-br" do%>

      <%= content_tag :tr do%>
      <%= content_tag :th, "Make year:" %>
      <%= content_tag :td, "#{@car.makeyear}" %>
      <%= content_tag :th, "Version:" %>
      <%= content_tag :td, "#{@car.version}" %>
      <% end%>

      <%= content_tag :tr do%>
      <%= content_tag :th, "Classification:" %>
      <%= content_tag :td, "#{@car.classification}" %>
      <%= content_tag :th, "Body type:" %>
      <%= content_tag :td, "#{@car.bodytype}" %>
      <% end%>

      <%= content_tag :tr do%>
      <%= content_tag :th, "Doors:" %>
      <%= content_tag :td, "#{@car.door}" %>
      <%= content_tag :th, "Seats:" %>
      <%= content_tag :td, "#{@car.seat}" %>
      <% end%>

      <%= content_tag :tr do%>
      <%= content_tag :th, "Engine place:" %>
      <%= content_tag :td, "#{@car.engineplace}" %>
      <%= content_tag :th, "Drivetrain:" %>
      <%= content_tag :td, "#{@car.drivetrain}" %>
      <% end%>

      <% end%>
    </div>
    </div>
